#timelineBoxOne {
    background-image: url(/images/mohamed-nohassi-175530-unsplash.jpg);
}

.test-title {
    margin-top: auto;
}

#timelineBoxOne p {
    align-self: center;
    text-align: justify;
    margin-bottom: auto;
    width: 90%;
}

#timelineBoxOne img {
    width: 50vh;
    align-self: center;
    margin: 2em 0;
    margin-top: auto;
    margin-bottom: auto;
}
