#timelineBoxThree{
background-image: url("/images/abdel/mohamed-nohassi-570390-unsplash.jpg");
width: 100%;
background-attachment: fixed;
background-size: cover;
}

#timelineBoxThree h3,
#timelineBoxThree h4
 {
    color: beige;
    font-family: 'Cardo', serif;
    
}
 .timeline-content{
    line-height: 1.15;
    max-width: 50%;
}
.flex {
    /* border: solid red 10px; */
margin-top: 5%;
margin-bottom: 5%;
    display: flex;
    justify-content: center;
}
.timeline-img{
width: 45%;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.9);


}
.timeline-img img {
    border-style: none;
}
.timeline-title{
margin: -50px 0 20px 0;
font-weight: normal;
font-size: 66px;
padding: 0 10px;
box-sizing: border-box;
font-family: "Pathway Gothic One", sans-serif;
color: #fff;


} 
.timeline-desc{
    /* border: solid red 10px; */
    width: 50%;
    text-align: justify;
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.9);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px; 
}
/* TEST1 */
.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }