/* ENTRY SECTION  */

.entry-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 234px);
}

.read-button {
	text-align: center;
	margin-top: 2em;
}

/* TIMELINE SECTION */
/* Timeline Navigation */

#timeline {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 89px;
}
.timeline-nav {
	position: absolute;
	left: 35px;
}

.timeline-nav ul {
	margin: 0;
	padding: 13px;
	border-left: solid 1px black;
}

/* Timeline buttons */

.timeline-buttons {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 35px;
}

/* Timeline Content */

#timelineContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.timeline-date {
	text-align: center;
	font-size: 6em;
	margin-top: 1em;
}

.timeline-content-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: calc(100vh - 89px);
}

/* CAREFUL !! ALL BEHAVIOR OF TIMELINE JS BELOW THIS LINE  */

.timeline-content-box {
	display: none;
}

.active {
	display: flex;
}
