/********************************** VIDEO BOOTSTRAP*****************************/
video { 
    position: fixed;
	top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 	  background: url(img/IMG_0229.JPG) no-repeat;
  	background-size: cover;
	  transition: 60s opacity;
	 opacity: 0.6;
}

.top-landing {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
  
  .top-landing video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  .top-landing .container {
	position: relative;
	z-index: 1;
  }
  
  .top-landing .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
  }

.custom-google-map{
    position:relative; 
    top:-46px; 
    border-style:none;
    width: 100%;
    height: 480px;
		width: 100%;
}


.overlay-iframe {
	overflow:hidden;
	margin-top: 57px;
	 width: 40%; 

}

.div-form{
	width: 40%;
	margin-top: 4.5%;
	max-height: 480px;
	margin-bottom: 20px;
}
#exampleSelect1{
	height: 0%;
}

/* Button call action */




.span-strong{
    font-weight: bold !important;
}

.div-buttons i{
	display: none; 
}

@media only screen and (max-width: 767px) {

	.div-form,
	.overlay-iframe
	{
		width: 80%;
	}
	.div-buttons i{
		font-size: 25px;
		color: #fff;
		opacity: 0.7;
		display: block;
	}
	.div-buttons{
		padding-left: 0px !important;
		padding-right: 0px !important;
	
	}
.div-buttons:hover{
	opacity: 0.3;	}





}