 body {
  padding-top: 56px;
}

.portfolio-item {
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .hide-nav1 {
  display:none !important;
  }
}

@media only screen and (max-width: 767px) {
  .padding-nav2 {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  }
}

.taillepolice
{
  font-size: 15px !important;
  margin: 0px;
  text-transform: lowercase;
  position: absolute;
  left: 70px;
}

.taillepolice span {
  text-transform: uppercase;
} 

.hide-nav1 {
  position: relative;

}
